#nav1 {
  box-sizing: border-box;
  .upside {
    .left_side {
      img {
        width: 152px;
        height: 36px;
        object-fit: cover;
        cursor: pointer;
      }
    }
    .middle_side {
      form {
        display: flex;
        width: 100%;
        align-items: center;
        input {
          width: 45%;
          outline: none;
          font-size: 13px;
          padding: 10px;
          background-color: white;
          border-right: none;
          border-top: 1px solid rgb(230, 230, 230);
          border-left: 1px solid rgb(230, 230, 230);
          border-bottom: 1px solid rgb(230, 230, 230);
        }
        button {
          width: 15%;
          border: 1px solid #ffbb38;
          background-color: #ffbb38;
          padding: 10px;
          font-size: 13px;
          font-weight: 600;
        }
        select {
          outline: none;
          padding: 10px;
          font-size: 13px;
          width: 35%;
          background-color: white;
          border: 1px solid rgb(230, 230, 230);
        }
      }
    }
    .col-lg-3 {
      display: flex;
      align-items: center;
      .right_side {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 26px;
        justify-content: end;
        .item1 {
          cursor: pointer;
          display: flex;
          align-items: center;
          position: relative;
          .box {
            position: absolute;
            top: -7px;
            right: -5px;
            background-color: #ffbb38;
            color: black;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            font-size: 9px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  .downside {
    margin-top: 30px;
    background-color: #ffbb38;
    padding: 8px;
    select {
      outline: none;
      padding: 10px;
      font-size: 15px;
      width: 80%;
      background-color: white;
      border: 1px solid #e6e6e6;
      font-weight: 600;
    }
    .list_middle {
      align-items: center;
      display: flex;
      ul {
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        li {
          cursor: pointer;
          align-items: center;
          list-style: none;
          color: black;
          display: flex;
          gap: 10px;
        }
      }
    }
    .right_link {
      display: flex;
      align-items: center;
      justify-content: end;
      a {
        display: inline-block;
        text-decoration: none;
        padding: 10px 14px;
        background-color: black;
        color: white;
      }
    }
  }
}
